.app {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    /*grid-template-columns: 200px 1fr;*/
}

/*
.logo {
    grid-column: 1;
}
*/

header {
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, .16);*/
    /*grid-column: 2/-1;*/
    grid-column: 1/-1;
}

/*
aside {
    background-color: #213e48;
}*/
